@import '~@angular/material/theming';

$primary-color: (
    50 : #f4ebec,
    100 : #e3cdd0,
    200 : #d1abb1,
    300 : #bf8991,
    400 : #b1707a,
    500 : #a35762,
    600 : #9b4f5a,
    700 : #914650,
    800 : #883c46,
    900 : #772c34,
    A100 : #ffbec5,
    A200 : #ff8b97,
    A400 : #ff5869,
    A700 : #ff3e53,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$accent-color: (
    50 : #ebf4f3,
    100 : #cde3e0,
    200 : #abd1cc,
    300 : #89bfb7,
    400 : #70b1a7,
    500 : #57a398,
    600 : #4f9b90,
    700 : #469185,
    800 : #3c887b,
    900 : #2c776a,
    A100 : #befff3,
    A200 : #8bffe9,
    A400 : #58ffe0,
    A700 : #3effdb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warn-color: (
    50 : #ffeded,
    100 : #ffd2d2,
    200 : #ffb4b4,
    300 : #ff9696,
    400 : #ff8080,
    500 : #ff6969,
    600 : #ff6161,
    700 : #ff5656,
    800 : #ff4c4c,
    900 : #ff3b3b,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe4e4,
    A700 : #ffcaca,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($primary-color, 500, 300, 700);
$accent: mat-palette($accent-color, 500, 300, 700);
$warn: mat-palette($warn-color, 500, 300, 700);


$theme: mat-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  )
));